@font-face {
    font-family: 'Binggrae-Two';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main_color : #aabbdd;
    scroll-behavior: smooth;
}

/*바디*/
body {
    font-family: "Binggrae-Two";
    height: auto;
  background: url("https://github.com/manghaess-eo/marimo_project/blob/main/batch_Fb7Q5FGVUAAa92L.jpeg?raw=true") no-repeat;

 background-position: center center;
 background-size: cover;
 background-attachment: fixed;
}

/*로고*/
header .container .row .col-xs-4 img {
    display: none
}

header .row > div:nth-child(1) > a {
    display: block;
    width: 200px;
    height: 50px;
    background: url('https://github.com/manghaess-eo/marimo_project/blob/main/logo5.png?raw=true') no-repeat;
    background-size: auto 50px;
    position: relative;
    top: 4px
}

/*헤더바*/
header #header-bar > .row {
    border: none;
    background: var(--main_color);
    border-radius: 10px;
}

header #header-bar #header-top-notice strong.notice-badge {
    border: 2px solid #fff;
    background: var(--main_color)
}

header #header-bar a.dropdown-toggle {
    color: #fff
}

header #header-bar #header-top-notice a {
    color: #fff
}

header-top-notice a {
    color: #fff
}

/*검색영역*/
header #right-search-form > input[type=text] {
    border-radius: 5px;
    border: 3px solid var(--main_color)
}

header #right-search-form > #right-search-btn {
    color: var(--main_color)
}

/*드랍메뉴*/
.dropdown-menu {
    background: var(--main_color);
}

.fa-remove:before, .fa-close:before, .fa-times:before {
    color: #fff
}

#favoriteDropdownMenu > li > a > span.name {
    color: #fff
}

.label-default {
    background: none
}

#playgroundDropdownMenu a {
    color: #fff
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: var(--main_color) !important;
    font-weight: bold;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover span {
    color: var(--main_color) !important;
    font-weight: bold;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover .fa-remove:before, .fa-close:before, .fa-times:before {
    color: var(--main_color) !important;
}

#latestDropdownMenu .name {
    color: #fff
}

.dropdown-menu > li > a {
    color: #fff
}

.dropdown-menu-right > li > a:hover {
    font-weight: normal;
}

/*메뉴*/
#main .menu-wrapper > .header {
    background: var(--main_color);
    border-radius: 5px 5px 0 0;
}

#main .menu-wrapper > a > em {
    color: var(--main_color)
}

#main .menu-wrapper > a > i.fa.fa-square {
    color: var(--main_color)
}

#main .menu-wrapper {
    border: 1px solid var(--main_color);
    border-radius: 7px 7px 0 0;
}

#main .menu-wrapper > a:hover {
    background: var(--main_color)4d;
    color: var(--main_color);
}

#main .menu-wrapper .spacer {
    background: var(--main_color)
}

/*인포영역*/
#board-info {
    height: auto;
}

#board-info #board-info-profile-img {
    width: 5em;
    border-radius: 50%;
    background: #fff;
    border: 5px solid var(--main_color);
    content: url(https://raw.githubusercontent.com/manghaess-eo/marimo_project/main/FcKc56baQAA5Rvt.jpg);		
}

#board-info #board-info-profile-img:hover {
    border-radius: 15px 50% 50% 15px;
    transform: rotate( 360deg );
}

#board-info .pull-right {
    float: left !important;
    margin-right: 20px;
    position: relative;
    top: -7px;
}

#board-info h1 > a {
    color: var(--main_color);
    font-weight: bold
}

#board-info #board-info-bottom a {
    display: none;
}

/*게시판*/
#article-list #article-option-area > #article-option-area-toggle-btn {
    display: none
}

#article-list > .article-list-row > .item > .list-header > span {
    background-color: var(--main_color);
}

/*추천수*/
#article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: var(--main_color);
}

/*댓글수*/
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color: var(--main_color)
}

/*게시판닉*/
#article-list #article-list-category {
    background: var(--main_color);
    border-color: 5px solid var(--main_color)
}

#article-content-wrapper > .header {
    border-color: var(--main_color)
}

#main #main-content > div.frame {
    border: none;
}

.frame>.frame, #article-list {
    background: var(--bgFrame);
    background-position: center center;
    background-image: url(https://github.com/manghaess-eo/marimo_project/blob/main/sin.png?raw=true);
    background-repeat: no-repeat;
    background-size: 800px;
    border: border: 2px solid var(--mainColor) !important;
    border-radius: 10px
}

#article-list>.article-list-row {
}

#article-list>.article-list-row:hover {
    background: #8800bb;
}

#article-list>.article-list-row>.item .list-title>a {
}

#article-list>.article-list-row:hover .item>.list-title>a {
}

#article-list>.article-list-row>.item>.list-header.v0>span {
    background : var(--main_color)
}

#comment-write-form-area .fr-toolbar {
    border-top: 5px solid var(--main_color)
}

/*인기글*/
#article-list > .article-list-row {
    border-right: none
}

#article-list > .article-list-row:hover {
}

/*페이지 넘버*/
.pagination > li > a, .pagination > li > span {
    color: var(--main_color)
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background: var(--main_color);
    color: #fff
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: var(--main_color);
    border-color: var(--main_color);
}

/*버튼*/
.btn-primary:hover {
    background-color: var(--main_color)
}

/*글쓰기*/
.btn-primary {
    background: var(--main_color);
    border: none
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: var(--main_color);
    border-color: var(--main_color)
}

/*게시글*/
#article-reply-area > .header h5 {
    color: var(--main_color)
}

/*댓글*/
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
    color: var(--main_color)
}

.fr-toolbar {
    border-top: 3px solid var(--main_color)
}

.fr-toolbar.fr-top i:before {
    color: var(--main_color)
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after, .fr-popup .fr-command.fr-btn.fr-dropdown::after {
    border-top: 4px solid var(--main_color);
}

.reply-menu a {
    color: var(--main_color)
}

.reply-menu a:hover {
    color: var(--main_color)
}

#lastc {
    color: var(--main_color)
}

#lastc:focus, #lastc:hover {
    color: var(--main_color)
}

/*푸터*/
footer a {
    color: var(--main_color)
}

footer a:hover {
    color: var(--main_color)
}

/*게시판 텝메뉴*/
#article-list #article-list-category {
    background: var(--main_color);
    border-top: 2px solid var(--main_color);
}

#article-list #article-list-category > a {
    width: auto;
    border: 2px solid var(--main_color);
    background: var(--main_color);
    border-top: none
}

#article-list #article-list-category #board-home-link-btn {
    color: #fff;
    background: var(--main_color);
}

#article-list #article-list-category {
    background: var(--main_color);
}

#article-list #article-list-category > a.active, #article-list #article-list-category > a:hover {
    border-color: var(--main_color);
    transition: all 0.5s
}

/*공지사항*/
#article-list > .article-list-row.notice {
    background-color: #fff;
    border: 2px solid var(--main_color);
    border-radius: 10px;
    margin-bottom: 5px;
}

#board-info #viewers-area #viewers:after {
    content: "마몽눈팅중";
    cursor: text;
    font-weight: bold;
}

/*상단인원*/
#board-info #viewers-area .fa-user:before {
    content: url(https://github.com/manghaess-eo/marimo_project/blob/main/c2.png?raw=true);
}

/*게시물이동*/
#article-neighbor-list {
    padding: 0 1em;
}

#article-neighbor-list div {
    border: 2px solid var(--main_color);
    border-radius: 7px;
    padding: 10px 0;
    margin-bottom: 5px;
}

#article-neighbor-list div .indicator {
    margin-left: 20px
}

.author {
    color: var(--main_color);
}

#favoriteDropdownMenu > li > a > span.label.label-default {
    margin-right: 1px;
}

/* 마우스 커서 기본 */
html, body, .fr-popup, .fr-active div>*, .fr-btn-wrap, span#viewers, select.form-control, input[type=checkbox], input[type=radio], .opt {
    cursor: url(https://github.com/manghaess-eo/marimo_project/blob/main/c1.png?raw=true) 0 0, auto !important;
}

/* 마우스 커서 링크 */
#right-search-form>#right-search-btn, #board-info #board-info-bottom #addFavoriteBtn, #article-list #article-option-area>#article-option-area-toggle-btn, #article-list>.article-list-row>.item>.list-title>.list-writer>span, .reply > .reply-header > .reply-writer.logged, .reply-menu, .btn, .fr-command.fr-btn, .fr-view img, .pull-left, a {
    cursor: url(https://github.com/manghaess-eo/marimo_project/blob/main/c1.png?raw=true) 0 0, auto !important;
}

/* 마우스 커서 텍스트 */
#article-list #boardSearchForm .form-control, .fr-view, .fr-box.fr-basic.fr-element, input[type='text'] {
    cursor: url(https://github.com/manghaess-eo/marimo_project/blob/main/c11.png?raw=true) 0 0, auto !important;
}

#right-search-form>#right-search-btn, #board-info #board-info-bottom #addFavoriteBtn, #article-list #article-option-area>#article-option-area-toggle-btn, #article-list>.article-list-row>.item>.list-title>.list-writer>span, .reply > .reply-header > .reply-writer.logged, .reply-menu, .btn, .fr-command.fr-btn, .fr-view img, .pull-left, a {
    cursor: url(https://github.com/manghaess-eo/marimo_project/blob/main/c33.png?raw=true) 0 0, auto !important;
}

/* 마우스 커서 텍스트 */
#article-list #boardSearchForm .form-control, .fr-view, .fr-box.fr-basic.fr-element, input[type='text'] {
    cursor: url(https://github.com/manghaess-eo/marimo_project/blob/main/c22.png?raw=true) 0 0, auto !important;
}

small.favo i.fa.fa-heart {
    animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.2);
    }
}

#article-list>.article-list-row>.item>.list-title>small.favo {
    color: #b2ffff;
}

/*커스텀 이모티콘*/
.fr-command.fr-emoticon[data-param1="GrammarKing"] > img {
    width: 30px !important;
    height: 30px !important;
    padding-left: 30px;
    background-image: url("https://github.com/manghaess-eo/marimo_project/blob/main/badmood.jpg?raw=true");
    background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
.fr-emoticon.fr-deletable > img[alt="GrammarKing"] {
    width: 50px !important;
    height: 50px !important;
    padding-left: 50px;
    background-image: url("https://github.com/manghaess-eo/marimo_project/blob/main/badmood.jpg?raw=true");
    background-size: 100%;
}

.fr-command.fr-emoticon[data-param1="Mau5"] > img {
    width: 30px !important;
    height: 30px !important;
    padding-left: 30px;
    background-image: url("https://github.com/manghaess-eo/marimo_project/blob/main/emptyeyes.png?raw=true");
    background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
.fr-emoticon.fr-deletable > img[alt="Mau5"] {
    width: 50px !important;
    height: 50px !important;
    padding-left: 50px;
    background-image: url("https://github.com/manghaess-eo/marimo_project/blob/main/emptyeyes.png?raw=true");
    background-size: 100%;
}

.fr-command.fr-emoticon[data-param1="SMOrc"] > img {
    width: 30px !important;
    height: 30px !important;
    padding-left: 30px;
    background-image: url("https://github.com/manghaess-eo/marimo_project/blob/main/vlcsnap-2022-04-25-12h25m35s380.png?raw=true");
    background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
.fr-emoticon.fr-deletable > img[alt="SMOrc"] {
    width: 50px !important;
    height: 50px !important;
    padding-left: 50px;
    background-image: url("https://github.com/manghaess-eo/marimo_project/blob/main/vlcsnap-2022-04-25-12h25m35s380.png?raw=true");
    background-repeat: no-repeat;
    background-size: 100%;
}

.fr-command.fr-emoticon[data-param1="DansGame"] > img {
    width: 30px !important;
    height: 30px !important;
    padding-left: 30px;
    background-image: url("https://github.com/manghaess-eo/marimo_project/blob/main/ezgif-1-b4f987e402.gif?raw=true");
    background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
.fr-emoticon.fr-deletable > img[alt="DansGame"] {
    width: 50px !important;
    height: 50px !important;
    padding-left: 50px;
    background-image: url("https://github.com/manghaess-eo/marimo_project/blob/main/ezgif-1-b4f987e402.gif?raw=true");
    background-repeat: no-repeat;
    background-size: 100%;
}

#movetotop img {
    display: none
}

#movetotop {
    display: inline-block;
    opacity: 1;
    background: url(https://github.com/manghaess-eo/marimo_project/blob/main/FIns7SFaAAI1OET.png?raw=true);
    width: 150px;
    height: 150px;
    background-size: contain;
     overflow: hidden;
      transform: scale(1.5);
  transition: transform 1s;

}

#article-list #article-list-menu>.btn.best {
    position: absolute;
    left: 0;
    color: #efc839;
    background-image: none;
    background-color: transparent;
    border-color: #efc839;
    border-radius: 20px;
}

#article-list #article-list-menu>.btn.write {
    position: absolute;
    right: 0;
    border-radius: 20px;
}

.container {
    max-width: 100%;
    width: 1100px;
}
#article-list:after { 
	display: block; content: ''; 
	position: absolute; 
	right: 0; 
	top: 571px; 
	background-image: url(https://github.com/manghaess-eo/marimo_project/blob/main/FbmYSbUaQAAtzwd-cutout.png?raw=true); 
	background-size: contain; 
	background-repeat: no-repeat; 
	width: 200px; 
	height: 200px; 
	transition-duration: 1s; 
	
} 
#article-list { overflow: hidden; 
	
} 
#article-list:hover:after { 
	transition-duration: 1s; 
	background-repeat: no-repeat; 
	top: -190px; 
	
}

header{
	height: 90px;
	background-image: url(https://github.com/manghaess-eo/marimo_project/blob/main/jk.png?raw=true) no-repeat;
	background-size:contain ;
	background-position:center;
	margin-bottom:40px ;


}



